Repository sozonome/agustinusnathaniel.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat(blog): setup notion service
  commitlint.config.js
  package.json
  references.md
  src/lib/services/notion/block/index.ts
  src/lib/services/notion/client.ts
  src/lib/services/notion/constants.ts
  src/lib/services/notion/database/index.ts
  src/lib/services/notion/middleware.ts
  src/lib/services/notion/page/index.ts
  src/lib/services/notion/utils/sortEntriesByDate.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

feat(blog): setup blog entries integration
  references.md
  src/global.d.ts
  src/lib/routes/home/loader.ts
  src/lib/routes/home/types.ts
  src/lib/services/notion/constants.ts
  src/lib/services/notion/database/index.ts
  src/lib/services/notion/types.ts
  src/lib/services/notion/utils/sortBlogPosts.ts
  src/lib/utils/formatDate.ts
  src/routes/blogs.ts
  src/routes/index.svelte
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

feat(layout): setup general layout
  README.md
  package.json
  references.md
  src/lib/components/layout/DefaultMetaTags.svelte
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Header.svelte
  src/lib/components/layout/index.svelte
  src/lib/styles/app.css
  src/routes/__layout.svelte
  src/routes/index.svelte
  svelte.config.js
Due: prettier --write

chore(release): 5.0.0-alpha
  CHANGELOG.md
  package.json
Due: none

style: format
  CHANGELOG.md
  README.md
  src/routes/__layout.svelte
Due: none

feat(seo): remove meta description in app.html
  src/app.html
Due: none

feat: update favicon
  static/favicon.png
Due: none

feat(blog): add blog post page
  src/lib/components/blog/entry.svelte
  src/lib/components/blog/list.svelte
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Header.svelte
  src/lib/components/layout/index.svelte
  src/lib/routes/blog/loader.ts
  src/lib/routes/blog/types.ts
  src/lib/routes/home/loader.ts
  src/lib/services/notion/base/block/index.ts
  src/lib/services/notion/base/database/index.ts
  src/lib/services/notion/base/page/index.ts
  src/lib/services/notion/blog/entries/index.ts
  src/lib/services/notion/blog/entries/types.ts
  src/lib/services/notion/blog/utils.ts
  src/lib/styles/app.css
  src/lib/styles/shortcuts.ts
  src/routes/blog/index.svelte
  src/routes/blogs.ts
  src/routes/index.svelte
  src/routes/posts.ts
  svelte.config.js
Due: eslint --fix --max-warnings=0, prettier --write

feat(blog): remove twemoji icon in post entry
  src/lib/components/blog/entry.svelte
  src/lib/components/blog/list.svelte
  src/lib/routes/blog/loader.ts
  src/lib/routes/home/loader.ts
  src/lib/services/notion/blog/entries/index.ts
  src/lib/services/notion/client.ts
  src/routes/blog/index.svelte
  src/routes/index.svelte
Due: eslint --fix --max-warnings=0, prettier --write

feat(layout): add route transition
  package.json
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/index.svelte
  src/lib/components/layout/loader.ts
  src/routes/__layout.svelte
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

chore: add versionrc
  .versionrc.json
Due: none

chore(release): 5.0.0-alpha.0
  CHANGELOG.md
  package.json
Due: none

style: format
  .prettierignore
  .versionrc.json
  package.json
Due: none

fix: remove console.log
  src/routes/__layout.svelte
Due: none

refactor: remove unused value
  src/lib/components/blog/entry.svelte
Due: none

feat(blog): add blog post page
  .lintstagedrc.json
  references.md
  src/lib/components/blog/entry.svelte
  src/lib/components/layout/Header.svelte
  src/lib/components/markdown/MdRenderer.svelte
  src/lib/components/markdown/renderers/Blockquote.svelte
  src/lib/components/markdown/renderers/Heading.svelte
  src/lib/components/markdown/renderers/Hr.svelte
  src/lib/components/markdown/renderers/Image.svelte
  src/lib/components/markdown/renderers/Link.svelte
  src/lib/components/markdown/renderers/Paragraph.svelte
  src/lib/routes/blog/detail/loader.ts
  src/lib/routes/blog/detail/types.ts
  src/lib/routes/blog/list/loader.ts
  src/lib/routes/blog/list/types.ts
  src/lib/routes/home/loader.ts
  src/lib/services/notion/base/page/index.ts
  src/lib/services/notion/blog/entry/index.ts
  src/lib/services/notion/blog/entry/types.ts
  src/routes/blog/[slug].svelte
  src/routes/blog/data/[slug].ts
  src/routes/blog/index.svelte
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

feat(blog): apply prefetch
  src/lib/components/blog/entry.svelte
Due: none

chore: update format scripts
  package.json
Due: none

feat(analytics): add umami
  package.json
  src/lib/components/layout/DefaultMetaTags.svelte
  yarn.lock
Due: none

feat(layout): set meta tags through stuff
  commitlint.config.js
  package.json
  src/lib/components/layout/DefaultMetaTags.svelte
  src/lib/components/layout/index.svelte
  src/lib/routes/blog/detail/loader.ts
  src/lib/routes/blog/list/loader.ts
  src/routes/blog/[slug].svelte
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

fix(layout): revise seo stuff subscribe implementation
  src/lib/components/layout/DefaultMetaTags.svelte
Due: none

feat(pages): revise home page
  package.json
  src/lib/components/blog/entry.svelte
  src/lib/components/blog/list.svelte
  src/lib/components/home/Hero.svelte
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/index.svelte
  src/lib/components/shared/Link.svelte
  src/lib/styles/shortcuts.ts
  src/routes/index.svelte
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

fix(layout): 💄fix layout problem
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/index.svelte
  src/lib/styles/app.css
  src/routes/index.svelte
Due: prettier --write

feat(analytics): update umami
  commitlint.config.js
  src/lib/components/layout/DefaultMetaTags.svelte
Due: none

chore(release): 5.0.0
  CHANGELOG.md
  package.json
Due: none

refactor: improve a11y
  src/lib/components/home/Hero.svelte
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Header.svelte
  src/lib/components/shared/Link.svelte
  src/routes/__error.svelte
Due: none

docs: update README
  README.md
Due: none

chore: update packages
  package.json
  yarn.lock
Due: none

feat(meta): add og-image
  package.json
  src/lib/components/blog/list.svelte
  src/lib/components/layout/DefaultMetaTags.svelte
  src/lib/constants/baseUrl.ts
  src/lib/routes/blog/detail/loader.ts
  src/lib/routes/blog/list/loader.ts
  src/lib/types/ogImageOption.ts
  src/lib/utils/buildOgImgUrl.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

fix: fix import
  src/lib/utils/buildOgImgUrl.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(meta): add og-image (#4)
  package.json
  src/lib/components/blog/list.svelte
  src/lib/components/layout/DefaultMetaTags.svelte
  src/lib/constants/baseUrl.ts
  src/lib/routes/blog/detail/loader.ts
  src/lib/routes/blog/list/loader.ts
  src/lib/types/ogImageOption.ts
  src/lib/utils/buildOgImgUrl.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

chore: update svelte kit to latest
  .husky/pre-commit
  .husky/pre-push
  package.json
  src/lib/components/layout/loader.ts
  src/lib/routes/blog/detail/loader.ts
  src/lib/routes/blog/list/loader.ts
  src/lib/routes/home/loader.ts
  src/lib/services/notion/blog/utils.ts
  svelte.config.js
  tsconfig.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

chore: update svelte kit to latest (#13)
  .husky/pre-commit
  .husky/pre-push
  package.json
  src/lib/components/layout/loader.ts
  src/lib/routes/blog/detail/loader.ts
  src/lib/routes/blog/list/loader.ts
  src/lib/routes/home/loader.ts
  src/lib/services/notion/blog/utils.ts
  svelte.config.js
  tsconfig.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

chore: update notion-sdk to v1
  package.json
  src/lib/services/notion/blog/utils.ts
  src/lib/services/notion/types.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

chore: 📦 update notion-sdk to v1 (#15)
  package.json
  src/lib/services/notion/blog/utils.ts
  src/lib/services/notion/types.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write

chore: deduplicate deps
  yarn.lock
Due: none

fix: fix loader issue
  package.json
  yarn.lock
Due: none

chore: update packages to latest
  .czrc
  .husky/commit-msg
  .husky/prepare-commit-msg
  commitlint.config.cjs
  package.json
  src/app.html
  yarn.lock
Due: none

perf(deployment): enable using edge functions
  commitlint.config.cjs
  package.json
  svelte.config.js
  yarn.lock
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: src/**/*.{js,jsx,ts,tsx,cjs}
  prettier --write: (any of: src/**/*.{js,jsx,ts,tsx,cjs}) or (any of: src/**/*.{json,css,scss,md,yaml})
